<div  class = " row container " >
  <div  class = " col-sm-6 col-sm-offset-2 " >

    <!--<ng-container [ngSwitch]="action">
      <h2 *ngSwitchCase="'add'"> Enregistrer un nouveau Film</h2>
      <h2 *ngSwitchCase="'edit'">Modifier un  Film</h2>
    </ng-container>-->

    <ng-container *ngTemplateOutlet = "titreTemplate;
     context: { titre : action ==='add' ? 'Enregistrer un nouveau livre' : 'Modifier un livre'}"></ng-container>

  <form  [formGroup] ="formFilm" (ngSubmit) = "onSaveBook()" >

   <div  class = " form-group " >
      <label  for = "titre" > Titre </label>
      <input  type="text" id = "title" class = "form-control" formControlName="titre" >
      <span  *ngIf = "formControls.titre.touched && formControls.titre.invalid" class = "error" >
      Il faut un titre pour le film  </span>
      </div>
      <div  class = " form-group " >
        <label  for = "titre"> Autheur</label>
        <input  type="text" id = "auteur" class = "form-control" formControlName="auteur" >
        <span  *ngIf = "formControls.auteur.touched && formControls.auteur.invalid" class = "error" >
        Il faut un autheur pour le film </span>
        </div>



      <div  class = " form-group " >
        <label  for="synopsis" > Synopsis </label>
        <textarea  id="synopsis" class ="form-control" formControlName="synopsis" > </textarea >

        </div>
        <input type="file" #fileinput hidden (change)="detectFiles($event)"
        class="form-control" accept="image/*">





        <img *ngIf="percentage===100 || currentUploadFile!==null"
        style="max-height: 250px; max-width: 476px ; margin-bottom: 5px; object-fit: contain;"
        [src]="currentUploadFile" class="img-fluid" alt="request image">
         <br>
        <div *ngIf="percentage!==null && percentage!==100" style="margin:1em 0" class="progress mt-2">
            <div class="progressbar prograss-bar-info" role="progressbar" attr.aria.valuenow="{{percentage}}" aria-valuemin="0" area-valuemaw="100" [ngStyle]="{width:percentage+ '%' }">{{percentage}}</div>

        </div>
        <button class="btn btn-info" (click)="fileinput.click()" type="button">Ajouter Photo</button>

        <button  type="submit" class="btn btn-danger"  [disabled] = "formFilm.invalid" > Enregistrer </button>

      </form>

  </div>
</div>



<ng-template #titreTemplate let-titre="titre">
  <h3>{{ titre }}</h3>
</ng-template>
