
<div class="row container">
<div class="col-md-4 mx-auto">
<h2 >Se connecter</h2>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
<<div class="form-group">

  <label for="email"> Email  </label>
  <input type="text" id="email" class="form-control" formControlName="email">
  <span *ngIf="formControls.email.touched && formControls.email.invalid" class="error">Il faut entrer un email</span>

  </div>

  <div class="form-group">
  <label for="password"> PassWord:</label>
  <input type="password" id="password" class="form-control" formControlName="password">
  <span *ngIf="formControls.password.touched && formControls.password.hasError('required')" class="error">Il faut entrer un mot de passe</span>
  <span *ngIf="formControls.password.touched && formControls.password.hasError('pattern')" class="error">Le mot de passe doit contenir 6 caractéres</span>
  </div>

  <button type="submit"
  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Conexion </button>
  <div class="col-md12" >
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">ou</span>
    </div>
    <button type="button" (click)="signWithGoogle()"class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Se Connecter avec Gmail</button>
  </div>
</form>
  </div>
  </div>
