
<div class="row container">
<div class="col-md-4 mx-auto">
<h2 i18n="from title | Titre Pour le composant Authetication">Se connecter</h2>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
<div class="form-group">

  <label for="email" i18n="from champs email | Titre du champs email du composant Authetication" > Email  </label>
  <input type="text" id="email" class="form-control" formControlName="email">
  <span *ngIf="formControls.email.touched && formControls.email.invalid" class="error"
  i18n="from champs email  | Message d'erreur du champs email du composant authtication => champs vide ">
  Il faut entrer un email</span>

  </div>

  <div class="form-group">
  <label for="password" i18n="from champs password | Titre du champs password du composant Authetication">
     PassWord:</label>
  <input type="password" id="password" class="form-control" formControlName="password">
  <span *ngIf="formControls.password.touched && formControls.password.hasError('required')"
   class="error" i18n="from champs password | Message d'erreur du champs password du composant authtication => Champs Vide">
   Il faut entrer un mot de passe</span>
  <span *ngIf="formControls.password.touched && formControls.password.hasError('pattern')"
   class="error" i18n="from champs password | Message d'erreur du champs password du composant authtication => Champs doit contenir 6 caracteres"
   >Le mot de passe doit contenir 6 caractéres</span>
  </div>

  <button type="submit"
  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
  i18n="from boutton connextion systeme | boutton pour se connecter sur base systeme ">Conexion </button>
  <div class="col-md12" >
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or" i18n="from separateur de boutton |Separateur d'authentication email et gmail">ou</span>
    </div>
    <button type="button" (click)="signWithGoogle()"
    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
     i18n="from boutton connextion Gmail | boutton pour se connecter Gmail ">Se Connecter avec Gmail</button>
  </div>
</form>
  </div>
  </div>
