<div class="row container">
  <div class="col-sm-6 col-sm-offset-2">
    <h2>Enregistrer un Nouveau livre</h2>
  <form [ formGroup ]="formBook" (ngSubmit)="onSaveBook()">

   <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" id="title" class="form-control" formControlName="title">
      <span *ngIf="formControls.email.touched && formControls.email.invalid" class="error">
      Il faut un titre pour le livre></span>
      </div>

      <div class="form-group">
      <label for="author">Autheur</label>
      <input type="text" id="author" class="form-control" formControlName="author">
      <span *ngIf="formControls.email.touched && formControls.email.invalid" class="error"
        Il faut un autheur pour le livre></span>
      </div>

      <div class="form-group">
        <label for="synopis">Synopis</label>
        <textarea id="synopis" class="form-control" formControlName="synopis"></textarea>
        <span *ngIf="formControls.email.touched && formControls.email.invalid" class="error">
          Il faut un autheur pour le livre</span>
        </div>

      <button type="submit"
      class="btn btn-succes " type="submit" [disabled]= "bookForm.invalid">Enregistrer </button>

    </form>

  </div>
</div>
