

<div  class = " row container " syle = " margin: 1em " >
<div  class = " col-sm-6 col-sm-offset-2 " > </div>
<div class="col-sm-offset-6 col-sm-6" style="margin-bottom: 1em;">
  <button  type ="button" [routerLink] = "['/film/film-form/add']" class = "btn btn-danger" > Creer un nouveau livre </button>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Synopsis</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">

      <td>{{film.titre}}</td>
      <td>{{film.auteur}}</td>
      <td>{{film.synopsis}}</td>
      <td>
          <button type="button" [routerLink]="['/film/film-form/edit', film.id]"
          class="bten btn-info">Modifier un film</button>
          
          <button type="button" (click)="deleteFilm(film.id)" style="margin-left: 1em;"
          class="bten btn-danger">Supprimer le film</button>

      </td>
    </tr>
  </tbody>

</table>
